<div class="navbar p-2">

  <div class="d-flex justify-content-between ms-5 me-5">

    <div class="nav-icons">
      <%= link_to "Home", root_path, class: "nav-link" %>
    </div>
    <div class="nav-icons">
      <%= link_to "História", historia_path, class: "nav-link" %>
    </div>
    <div class="nav-icons">
      <%= link_to "Cidades", cidades_path, class: "nav-link" %>
    </div>
    <div class="nav-icons dropdown">
      <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
        Patrimônios
      </a>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <li>
          <%= link_to "Patrimônio Cultural", patrimonio_cultural_path, class: "dropdown-item" %>
        </li>
        <li>
          <%= link_to "Patrimônio Natural", patrimonio_natural_path, class: "dropdown-item" %>
        </li>
      </ul>
    </div>
    <div class="nav-icons">
      <%= link_to "Legislação", legislacao_path, class: "nav-link" %>
    </div>

  </div>

</div>
