<div class="container heritage-page">
  <div class="heritage-title text-center m-5">
    <h1>Patrimônio Cultural</h1>
  </div>
  <div class="prof-dantes heri-box mb-5 pb-3">
    <div class="mb-5">
      <h2>E.E. Prof. Dantes</h2>
    </div>
    <div class="mb-4">
      <p><strong>Localização:</strong> Rua Benjamin Constant, 443 – CEP 14540-000 – Igarapava</p>
      <p>É uma das 11 escolas de um mesmo projeto elaborado em 1909 por José Van Humbeeck. Instalada em 1914, o prédio tem planta simétrica e uso independente para cada seção, que ficavam isoladas por porta tipo vai-e-vem no corredor central.
      É uma das integrantes do conjunto de 126 escolas públicas construídas pelo Governo do Estado de São Paulo entre 1890 e 1930 que compartilham significados cultural, histórico e arquitetônico. Essas edificações expressam o caráter inovador e modelar das políticas públicas educacionais que, durante a Primeira República, reconheceram como inerente ao papel do Estado a promoção do ensino básico, dito primário, e a formação de professores bem preparados para tal função. Quanto às políticas de construção de obras públicas, são representativas pela estruturação racional de se instalar edificações adequadas ao programa pedagógico por todo o interior e capital do Estado. </p>
      <p> Destaca-se a qualidade do conjunto caracterizado pela técnica construtiva simples, consolidando o uso de alvenaria de tijolos e por uma linguagem estilística que simplificou os atributos da tradição clássica acadêmica. A organização espacial era concebida incorporando preceitos e recomendações de higiene, insolação e ventilação previstos na cultura arquitetônica que vinha se firmando desde o século XIX. O programa pedagógico distribuía essencialmente salas de aulas ao longo de eixos de circulação em plantas simétricas. Aos poucos se firmaram em projetos arquitetônicos padronizados que se repetiam com pouca ou nenhuma variação em mais de um município.</p>
      <p><strong>Número do Processo:</strong> 24929/86</p>
      <p><strong>Resolução de Tombamento:</strong> Resolução 60 de 21/07/2010</p>
      <p><strong>Livro do Tombo Histórico:</strong> inscrição nº 377, p. 103 a 110, 05/09/2011.</p>
    </div>
    <div class="img-dantes text-center my-4">
      <%= image_tag "ee_prof_dantes.jpg", class: "dantes-img" %>
    </div>
  </div>
  <div class="prof-fabiano heri-box mb-5">
    <div class="mb-3">
      <h2>EMEF Fabiano Alves de Freitas</h2>
    </div>

    <div class="mb-3">
      <p><strong>Localização:</strong> Rua Cel. Augusto Barbosa, 96 – CEP 14500-000 – Ituverava </p>
      <p> Nesta escola, o pátio não é totalmente contornado pela edificação, o que permite uma integração visual com o restante do terreno. O projeto, de José Van Humbeeck e Mauro Álvaro, teve a colaboração de outros arquitetos.<p>
      <p> É uma das integrantes de conjunto de 126 escolas públicas construídas pelo Governo do Estado de São Paulo entre 1890 e 1930 que compartilham significados cultural, histórico e arquitetônico. Essas edificações expressam o caráter inovador e modelar das políticas públicas educacionais que, durante a Primeira República, reconheceram como inerente ao papel do Estado a promoção do ensino básico, dito primário, e a formação de professores bem preparados para tal função. Quanto às políticas de construção de obras públicas, são representativas pela estruturação racional de se instalar edificações adequadas ao programa pedagógico por todo o interior e capital do Estado.</p>
      <p> Destaca-se a qualidade do conjunto caracterizado pela técnica construtiva simples, consolidando o uso de alvenaria de tijolos e por uma linguagem estilística que simplificou os atributos da tradição clássica acadêmica. A organização espacial era concebida incorporando preceitos e recomendações de higiene, insolação e ventilação previstos na cultura arquitetônica que vinha se firmando desde o século XIX. O programa pedagógico distribuía essencialmente salas de aulas ao longo de eixos de circulação em plantas simétricas. Aos poucos se firmaram em projetos arquitetônicos padronizados que se repetiam com pouca ou nenhuma variação em mais de um município. </p>
      <p><strong>Número do Processo:</strong> 24929/86</p>
      <p><strong>Resolução de Tombamento:</strong> Resolução 60 de 21/07/2010</p>
      <p><strong>Livro do Tombo Histórico:</strong> inscrição nº 377, p. 103 a 110, 05/09/2011.</p>
    </div>
    <div class="img-fabiano text-center my-5">
      <%= image_tag "EMEF_Fabiano_Alves.JPG", class: "fabiano-img" %>
    </div>
  </div>
  <div class="relogio-solar heri-box mb-5">
    <div class="mb-3">
      <h3> Relógio Solar </h3>
    </div>

    <div class="mb-4">
      <p><strong>Localização:</strong> Praça Nossa Senhora da Conceição – Franca </p>
      <p> Em 1805, foi autorizada a construção da Igreja de Nossa Senhora da Conceição da Freguesia da Franca e Rio Pardo. Com o crescimento do povoado, Franca foi elevada à categoria de vila em 1824. Ao atingir o final do século XIX, já era visível o seu desenvolvimento, através das inúmeras melhorias urbanas como, por exemplo, iluminação a querosene, construção de prédios públicos, casas de saúde, escolas, obras de saneamento e implantação da linha Mogiana.</p>

      <p> O Relógio Solar de Franca foi montado em 1886, pelo capuchinho francês frei Germano Dannecy, estudioso de astronomia e eletricidade, que recebeu o convite de dom Pedro II para dirigir o Observatório Meteorológico do Império. O relógio, construído com recursos vindos das contribuições da população local, constitui-se, juntamente com outro existente na França, nos únicos exemplares do gênero no mundo. Trata-se de um relógio vertical, de corpo cilíndrico, com mais de 3m de altura, apoiando em seu topo um cubo, em cujas faces é feita a leitura das horas.</p>
      <p><strong>Número do Processo:</strong> 08499/69 </p>
      <p><strong>Resolução de Tombamento:</strong> Resolução de 08/03/1972 </p>
      <p><strong>Livro do Tombo Histórico:</strong> inscrição nº 266, p. 69, 25/03/1987 </p>
    </div>
    <div class="img-relogio text-center my-5">
      <%= image_tag "Relogio_do_Sol_de_Franca.jpg", class: "relogio-img" %>
    </div>
  </div>
  <div class="cel-francisco heri-box my-5">
    <div class="my-3">
      <h3> EE Cel. Francisco Martins </h3>
    </div>

    <div class="mb-4">
      <p><strong>Localização:</strong> Praça Cel. Antonio Jacinto , 1533 CEP – 14400-540 – Franca </p>
      <p> Escola criada em 1911, funcionando em um prédio adaptado, doado ao governo do Estado pela Câmara Municipal. Foi seu organizador e primeiro diretor foi o professor Benedicto Estevan  dos  Santos.</p>
      <p> É uma das integrantes de um conjunto de 126 escolas públicas construídas pelo Governo do Estado de São Paulo entre 1890 e 1930 que compartilham significados cultural, histórico e arquitetônico. Essas edificações expressam o caráter inovador e modelar das políticas públicas educacionais que, durante a Primeira República, reconheceram como inerente ao papel do Estado a promoção do ensino básico, dito primário, e a formação de professores bem preparados para tal função. Quanto às políticas de construção de obras públicas, são representativas pela estruturação racional de se instalar edificações adequadas ao programa pedagógico por todo o interior e capital do Estado.</p>
      <p> Destaca-se a qualidade do conjunto caracterizado pela técnica construtiva simples, consolidando o uso de alvenaria de tijolos e por uma linguagem estilística que simplificou os atributos da tradição clássica acadêmica. A organização espacial era concebida incorporando preceitos e recomendações de higiene, insolação e ventilação previstos na cultura arquitetônica que vinha se firmando desde o século XIX. O programa pedagógico distribuía essencialmente salas de aulas ao longo de eixos de circulação em plantas simétricas. Aos poucos se firmaram em projetos arquitetônicos padronizados que se repetiam com pouca ou nenhuma variação em mais de um município. </p>
      <p><strong>Fonte Processo de Tombamento</strong></p>
      <p><strong>Número do Processo:</strong> 24929/86 </p>
      <p><strong>Resolução de Tombamento:</strong> Resolução 60 de 21/07/2010 </p>
      <p><strong>Livro do Tombo Histórico:</strong>  inscrição nº 377, p. 103 a 110, 05/09/2011. </p>
    </div>
    <div class="img-francis text-center my-5">
      <%= image_tag "EE_francisco_martins.jpg", class: "francis-img" %>
    </div>
  </div>
  <div class="mogiana heri-box my-5">
    <div class="mb-3">
      <h2> Estação Mogiana </h2>
      <h4> Decreto nº 7420 de 11 de agosto de 1997 </h4>
    </div>

    <div class="mb-3">
      <p><strong>Localização:</strong> Rua Frei Germano s/nº, Bairro da Estação - Franca </p>
      <p> A estação de Franca foi inaugurada em 1887, sendo esta, na época, um dos objetivos mais importantes a serem atingidos pela ferrovia. Depois da chegada da linha a Casa Branca, em 1878, é que a Mogiana passou a avaliar a alternativa de seguir em linha reta para o norte, chegando a essa cidade, mas, graças à expansão muito rápida da nova região de Ribeirão Preto, a companhia decidiu-se por mover a linha para oeste, e somente depois de cruzar o rio Pardo, aí sim, voltar para nordeste para atingir a velha Franca do Imperador. Em Franca cita-se o dia 5 de não o 11 de abril como a inauguração da estação. Pode ter sido uma antecipação dos serviços, que teriam, então, começado 6 dias mais tarde. Em 5 de abril, uma locomotiva a vapor com um carro de passageiros e alguns vagões de lastro inaugurou o prédio e a linha. À sua volta, duas casas apenas, num enorme deserto: a de Antonio Nicácio e a de Simão Caleiro. O bairro da Estação foi-se desenvolvendo a partir daí: a estação era sempre um centro de recepção de personalidades. Em 1939, a estação ganhou um prédio novo, mais moderno, estilo "art-noveau". Com o tempo, entretanto, a linha do Rio Grande foi perdendo a sua importância, reduzindo muito seu movimento. Ainda assim, em 01/06/1969, as oficinas da estação receberam boa parte do que estava sediado na estação de Ribeirão Preto-velha, recém-desativada. Em 01/08/70, porém, pouco mais de um ano depois, o destacamento de tração de Franca foi definitivamente suprimido, com seu pessoal sendo deslocado para outras unidades da ferrovia (*RM-1970).  Nesse mesmo ano, a linha do rio Grande tornou-se o ramal de Franca, seguindo somente até Pedregulho, e, poucos anos depois, chegando mesmo somente até Franca. Em 15 de fevereiro de 1977, o último trem de passageiros, aliás, um trem misto, com um carro apenas e cinco vagões cargueiros, partiu de Franca, conduzido pelo maquinista Augusto Ferreira Mendes, ao meio-dia de uma terça-feira, com o chefe do trem Olivio Marques avisando aos passageiros da notícia. Já os de carga sobreviveram somente até 1980. A estação fechou oficialmente em 1983, quando seu último chefe, José Antônio Bosco, entregou suas chaves. </p>
    </div>
    <div class="img-mogiana d-flex justify-content-evenly my-5 align-items-center">
      <div class="img-mogiana1">
        <%= image_tag "mogiana_antiga.jpg", class: "mogiana-img" %>
      </div>
      <div class="img-mogiana2">
        <%= image_tag "mogiana_nova.jpg", class: "mogiana-img" %>
      </div>
    </div>
  </div>
  <div class="champagnat heri-box my-5 pt-3">
    <div class="my-3">
      <h2> Colégio Champagnat </h2>
      <h4> Decreto nº 7420 de 11 de agosto de 1997 </h4>
    </div>

    <div class="mb-4">
      <p><strong>Localização:</strong> Av. Champagnat nº 1808, Centro - Franca </p>
      <p> A Vila Franca do Imperador, instalada em 28/novembro/1824 envolvia uma extensa região que ia do Rio Pardo ao Rio Grande. Sua principal atividade econômica era a criação do gado, vacum e a plantação de gêneros alimentícios. A sede da Vila localizava-se no Arraial da Franca, cujo nascimento datava de 1805 com o início da construção de uma "Casa de Orações". Durante quase todo o século XIX o Arraial, 1 Núcleo Urbano do todo Norte do atual Estado de São Paulo não foi além de um "Arraial Sertanejo”, tímido e acanhado em sua população e em seus equipamentos urbanos. Nos finais do século XIX o advento da lavoura cafeeira e da ferrovia irá mudar significativamente o panorama da região. É a partir desse momento que o núcleo Urbano, isto é, o antigo arraial da Franca irá desenvolver-se e consolidar-se. Suas ruas começam a receber calçamento, suas praças e demais logradouros passam a ser tratadas com o devido esmero e cuidado. A cidade cresce, a população urbana aumenta e produz em suas fábricas as cervejas, as gasosas, os chapéus, os fósforos, os macarrões, os couros curtidos e os calçados. Fundam-se a Santa Casa de Misericórdia c o Teatro, os Hotéis e Bilhares, os Jornais, os Colégios. Antes de se iniciar o século XX Franca já possuía dois Estabelecimentos de Ensino de alto nível. Um era o Culto às Letras, dirigido por César Augusto Ribeiro e o outro Colégio Nossa Senhora de Lourdes, das irmãs de Chamberry. Monsenhor Cândido da Silveira Rosa, à época vigário da Freguesia empenhouse na vinda das “Freiras" afim de que as meninas e as adolescentes da Franca pudessem ter uma formação educacional e religiosa comparável à européia. Sua preocupação estendeu-se aos meninos e rapazes e por isso, o Monsenhor foi buscar os irmãos Maristas para exercerem o Magistério na Franca do Imperador. </p>
    </div>
    <div class="img-champa d-flex justify-content-evenly align-items-center my-5">
      <div class="img-champa1">
        <%= image_tag "Colegio_champagnat1.jpeg", class: "champa-img" %>
      </div>
      <div class="img-champa2">
        <%= image_tag "Colegio_Champagnat.jpeg", class: "champa-img" %>
      </div>
    </div>
  </div>
  <div class="museu-municipal heri-box my-5 pt-3">
    <div class="my-3">
      <h2> Museu Histórico Municipal “JOSÉ CHIACHIRI” </h2>
      <h4>  Decreto nº 7420 de 11 de agosto de 1997 </h4>
    </div>

    <div class="mb-4">
      <p><strong>Localização:</strong> Rua Campos Salles, nº 1699, Centro - Franca </p>
      <p> O prédio atual que abriga as dependências do Museu Histórico foi construído em 1896 cujo projeto foi elaborado pelo arquiteto francês Victor Dubugras. Carregado de traços medievais, o edifício caracteriza-se pelo estilo eclético. O prédio abrigou inicialmente a Cadeia Pública e o Fórum da cidade até 1913. Em meados de 1913, passou a abrigar a Prefeitura Municipal e também a Câmara Municipal (Paço Municipal “Rui Barbosa”). Em 1970, no dia 28 de novembro inaugura-se a sede definitiva do Museu Histórico Municipal “José Chiachiri”. Em 1997, o prédio do Museu Histórico Municipal “José Chiachiri” foi tombado pelo Condephat Municipal pelo Decreto 7420, de 11 de agosto do mesmo ano. </p>
    </div>
    <div class="img-museu d-flex justify-content-evenly my-4">
      <div class="museu1">
        <%= image_tag "MUSEU_ CHIACHIRI.jpeg", class: "museu-img" %>
      </div>
      <div class="museu2">
        <%= image_tag "museu.jpg", class: "museu-img", width: "278px" %>
      </div>
    </div>
  </div>
  <div class="cadeia-publica heri-box my-5">
    <div class="my-3">
      <h2> Cadeia Pública </h2>
      <h4>  Decreto nº 7686 de 15 de setembro de 1999 </h4>
    </div>
    <div class="mb-4">
      <p><strong>Localização:</strong> Rua Major Claudiano, nº 2292, Centro - Franca </p>
      <p> O prédio foi construído na década de 10 (1913), substituindo o antigo Fórum e cadeia onde hoje funciona o Museu Histórico “José Chiachiri”, inserindo-se no processo de modernização da chamada “República Velha”. O edifício de dois pavimentos é sóbrio e destaca-se na paisagem urbana comum pelo seu jogo de abertura diferenciada: no térreo, as celas, na parte superior, janelas comuns na delegacia. Com a construção do novo fórum no final dos anos 1950, o prédio sofreu alterações internas, transformando-se no antigo “cadeião” da década de 70. Por sua mística e volumetria merece ser preservado para as futuras gerações, sobretudo no sentido de se analisar as diferenças entre as construções daquela época, com os projetos construídos na atualidade, destinados aos mesmos fins ao qual foi planejado no inicio do século XX.</p>
    </div>
    <div class="img-cadeia text-center my-4">
      <%= image_tag "cadeia_publica.JPG", class: "prison-img" %>
    </div>
  </div>
  <div class="frontao-palmeiras heri-box my-5">
    <div class="mb-3">
      <h2 class="my-3"> Frontão do Estádio Palmeiras Futebol Clube </h2>
      <h4> Decreto nº 8729 de 28/08/2006 </h4>
    </div>
    <div class="mb-4">
      <p><strong>Localização:</strong> Rua Santos Pereira, nº 484, Cidade Nova - Franca </p>
      <p> Em 25 de dezembro de 1917 um grupo de entusiastas italianos, torcedores fanáticos do time do Palestra Itália, atual Palmeiras da capital,resolveu fundar um clube em Franca que levaria o mesmo nome do clube predileto. O clube possuía um campo simples situado na quadra contornada pelas ruas Afonso Pena, Santos Pereira,Carlos do Carmo e Major Nicácio. O material de jogo era guardado em uma casa próxima, onde o casal moradores também cuidava da lavagem dos uniformes dos atletas. Durante a Segunda Guerra Mundial, por determinação do governo federal, nenhum clube ou agremiação poderia levar o nome dos países do “Eixo”,envolvidos no conflito. Assim, o Clube Palestra Itália da capital tornou-se Sociedade Esportiva Palmeiras, da mesma forma, o Palestra Itália de Franca tornou-se então, Palmeiras Futebol Clube. Entre os anos 1930 e 1940 a diretoria conseguiu angariar fundos e construir arquibancadas, colocando o clube nos padrões dos clubes profissionais do interior paulista. Entre 1947 e 1953 o clube se profissionalizou disputando campeonatos que envolviam Botafogo, XV de Piracicaba, Ponte Preta,além da tradicional rival, Associação Atlética Francana. Entre 1983 e 1993 o clube retornou ao profissionalismo, porém, atualmente só participa de campeonatos amadores. Em 1947 foi inaugurada grande parte das obras do Estádio, num projeto assinado por Antônio silva Lima, num jogo memorável entre S.E. Palmeiras X Palmeiras Futebol Clube, presenteando a população francana com uma obra que marcaria a paisagem arquitetônica do bairro Cidade Nova. A fachada frontal do Estádio, concluída em 1958, ajuda a compor a imagem da cidade, enriquecendo seu espaço urbano, se estabelecendo como símbolo de uma época em que o futebol se tornava a paixão mundial, se fixando também como um marco construído através da união entre italianos e brasileiros. </p>
    </div>
    <div class="img-frontao text-center my-5">
      <%= image_tag "frontao_palmeiras.jpg", class: "frontao-img" %>
    </div>
  </div>
  <div class="casa-pintor heri-box my-5">
    <div class="mb-3">
      <h3 class="my-3"> Casa do Pintor Bonaventura Cariolato </h3>
      <h4> Decreto n. 8783 de 18 de dezembro de 2006 </h4>
    </div>
    <div class="mb-4">
      <p><strong>Localização:</strong> Rua Tomáz Gonzaga esquina com Campos Salles - Franca </p>
      <p> Casa que pertenceu ao pintor Bonaventura Cariolato. O imóvel, localizado na esquina das ruas Campos Sales e Thomaz Gonzaga, na região central, foi alugado pela prefeitura este ano e abriga o Espaço Cultural Feac, onde funciona a Pinacoteca e o MIS (Museu da Imagem e do Som). Construída no século 19, a casa abrigou um centro de saúde antes de ser comprada por Cariolato. O pintor veio para Franca no começo da década de 1920 e morou na casa até sua morte, em 1989. Depois, a família continuou no local por mais algum tempo até que, em 1998, o local se tornou uma casa de cultura, inicialmente com o patrocínio da Unifran (Universidade de Franca), depois da Uni-Facef e Faculdade de Direito de Franca. </p>
    </div>
    <div class="img-pintor d-flex justify-content-evenly align-items-center my-4">
      <div class="mx-4">
        <%= image_tag "casa_pintor_azul.jpg", class: "pintor-img" %>
      </div>
      <div class="mx-4">
        <%= image_tag "casa_pintor_marrom.jpg", class: "pintor-img" %>
      </div>
    </div>
  </div>

</div>
